body {font-family: Arial, Helvetica, sans-serif;
text-align: center;
background-color: #f7f7f7;
margin: 0;
padding: 20px;}
img { width: 180px;
border-radius: 50%;
margin-top: 20px;}
h1 {color: #555;
}
h3 {color: #333;}
p {width: 70%;
margin: 0 auto;
font-size: 18px;
line-height: 1.5;}
ul li {background: #ffffff;
padding: 10px;
margin: 8px auto;
width: 50%;
border-radius: : 8px;
}
nav{
    background: #333;
    padding: 10px;

}
nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}
nav a:hover {
    color: #00b3ff;

}
.project-card {
    background: #ffffff;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    text-align: left;
}
.project-card h2 {
    color: #333;
    margin-bottom: 10px;
}.portfolio-container {
    width: 80%;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

.hero {
    text-align: center;
    margin: 50px 0;
}

.hero h1 {
    font-size: 36px;
}

.hero p {
    font-size: 18px;
    color: gray;
}

section {
    margin-bottom: 40px;
}

.skills ul {
    list-style: square;
    padding-left: 20px;
}

.project-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.project-card ul {
    margin: 15px 0;
}

.project-links {
    margin-top: 15px;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background: #333;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    margin-right: 10px;
}

.btn.secondary {
    background: #00b3ff;

